@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  outline: none;
  text-decoration: none;
}

div:focus {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

//main-container全局样式
.app-main {
  min-height: 100%
}
.app-container {
  padding: 20px;
}

// Custom TRM Styles
.topbar .avatar-container .avatar-wrapper {
  display: flex;
  align-items: center;
  span {
    padding: 0px 10px;
  }
}// HEADER
.main-content .page-content {
  .header {
    width: 120%;
    margin-bottom: 20px;
    background: #2a9cb6;
    padding: 5px 0px 5px 20px !important;
    left: -25px;
    color: #FFF !important;
    > h2 {
      font-weight: 500 !important;
      color: #FFF !important
    }
  }
}
// FIN - HEADER
.panel .number h1 {
  text-align: center;
  span {
    font-weight: 800;
  }
}
.panel .panel-footer {
  opacity: .6;
}
.panel .panel-footer h3 {
  text-align: right;
}
// Custom Dialog Title
.el-dialog__title {
  color: #676767;
  border-left: 3px solid #2a9cb6;
  padding-left: 10px;
  font-weight: 700;
}
.el-dialog__header {
  padding: 15px 20px 10px;
}
// Panel Footer
.panel-footer .pull-right {
  text-align: right;
}
// MAX-ALERTS
.maxalerts .el-dialog > div:last-child {
  background-color: #b41d2f;
}
.maxalerts button {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.1em;
  border-radius: 0px;
  background: #ffffff61;
  border: 2px solid #FFF;
}
// DISPLAY
.dis-flex {
  display: flex;
}
@media (max-width: 990px) {
  .main-content .page-content .header {
    left: -20px;
  }
}

/* -----------------------------------
     Forgot Password Form
------------------------------------*/
#forgotpsw .el-dialog {
  background: #064E89;

  .el-dialog__title {
    color: #ffffff;
    display: block;
    border-left: none;
    padding-left: 0px;
    text-align: center;
    font-weight: 700;
    padding-bottom: 15px;
    border-bottom: 1px solid #0a599a;
  }

  .el-input__prefix, .el-input__suffix {
    position: absolute;
    top: 0px;
    font-size: 20px;
    height: 50px;
    color: #ffffff;
    text-align: center;
  }
  .email .el-input__inner::placeholder {
    color: #5384ad;
  }
  .email .el-input__inner {
    color: #FFF;
    background: #09528e;
    border-bottom: 2px solid;
    border-radius: 0px;
    padding: 20px 0px 20px 40px;
  }
}
/* -----------------------------------
     Search Bar
------------------------------------*/
.searchBar .dis-flex {
  justify-content: flex-end;
  .el-form-item {
    margin-bottom: 5px;
    padding: 0px 5px;
  }
}
@media screen and (max-width: 468px) {
  .dis-flex {
    flex-direction: column;
    .el-form-item {
      padding: 0px !important;
    }
  }
}

